DEPLOYER_PRIVATE_KEY=
ARC_CHAIN_ID=5042002
ARC_RPC_URL=https://rpc.testnet.arc.network
USDC_TOKEN_ADDRESS=0x3600000000000000000000000000000000000000
ANS_REGISTRY_ADDRESS=
TREASURY_ADDRESS=
REGISTRATION_FEE_USDC=5000000
SHORT_NAME_FEE_USDC=50000000
PORT=8787
AGENT_API_KEY=
REGISTRAR_PRIVATE_KEY=
WEB_PUBLIC_API_BASE_URL=http://localhost:8787
NEXT_PUBLIC_API_BASE_URL=http://localhost:8787
NEXT_PUBLIC_ARC_CHAIN_ID=5042002
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_USDC_TOKEN_ADDRESS=0x3600000000000000000000000000000000000000
NEXT_PUBLIC_ANS_REGISTRY_ADDRESS=0xf5e0E328119D16c75Fb4a001282a3a7b733EF6db
NEXT_PUBLIC_ARC_EXPLORER_URL=https://testnet.arcscan.app/tx/
